@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #0a0a0a;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  width: 600px;
  height: 600px;
  background: rgba(59, 130, 246, 0.12);
  filter: blur(120px);
  top: -200px;
  right: -100px;
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  background: rgba(168, 85, 247, 0.08);
  filter: blur(120px);
  bottom: -200px;
  left: -100px;
  z-index: -1;

}